docs/
images/
tests/
.github/

__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.venv/
venv/

.git/
.gitignore

.flake8
.pylintrc
.pre-commit-config.yaml

*.log
orchestration/airflow/logs/
orchestration/airflow/data/output/

.env
