MODEL_PATH=model/best.pt
MODEL_BUCKET=wagon-models
MODEL_KEY=best.pt

RULE_TABLE_PATH=data/rules/rule_table.csv
RULE_TABLE_BUCKET=table-of-rule
RULE_TABLE_KEY=rule_table.csv

S3_ENDPOINT=https://s3.selcdn.ru
S3_KEY=your-access-key
S3_SECRET=your-secret-key

MODEL_CONF=0.25
MODEL_IOU=0.45
