MODEL_PATH=model/best.pt
MODEL_BUCKET=wagon-models
MODEL_KEY=best.pt
APP_ENV=dev
LOG_LEVEL=INFO
APP_HOST=0.0.0.0
APP_PORT=8000

RULE_TABLE_PATH=data/rules/rule_table.csv
RULE_TABLE_BUCKET=table-of-rule
RULE_TABLE_KEY=rule_table.csv

S3_ENDPOINT=https://s3.selcdn.ru
S3_KEY=your-access-key
S3_SECRET=your-secret-key

AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=change-me
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_BASE_URL=http://127.0.0.1:8080
TRAINSCAN_API_URL=http://127.0.0.1

MODEL_CONF=0.25
MODEL_IOU=0.45
