[MASTER]
ignore=venv,.venv,__pycache__
extension-pkg-allow-list=cv2
generated-members=cv2.*

[MESSAGES CONTROL]
disable=C0114,C0115,C0116,R0903,R0913

[FORMAT]
max-line-length=88

[DESIGN]
max-args=10
max-attributes=10
max-parents=7
