[MASTER]
ignore=tests,venv,.venv, docs/ML_System_Design_Doc.md, index.html, .gitignore

[MESSAGES CONTROL]
disable=C0114,C0115,C0116,C0301,R0903

[FORMAT]
max-line-length=88

[DESIGN]
max-args=10
max-attributes=10
max-parents=7
